{% extends 'base.html' %}
{% from "formhelper.html" import render_field %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p>{{message}}</p>
    {% endfor %}
  {% endif %}
{% endwith %}
    <h2 style="text-align: center">Create Announcements</h2>
    <div class="container" style="text-align: center">
<form action="" method="post" novalidate>
        {{form.hidden_tag()}}
    <p>
        {{render_field(form.topic)}}

    </p>

    <p>
      {{render_field(form.message)}}
    </p>

    <p>{{form.submit}}</p>
</form>
    </div>

{% endblock %}
