<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>
  <body>

    {% if current_user.is_authenticated %}
      <a href="/forums">View Forums</a>
      <a href="/profile/{{current_user.username}}">{{current_user.username}}</a>
      <a href="/createevents">Create Events</a>
      <a href="/events">Upcoming Events</a>
      <a href="/logout">Logout</a>
    {% endif %}


    {% block content %} {% endblock %}
  </body>



  {% block script %} {% endblock %}
</html>
