<<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% block content %}
      <form action="" method="post" novalidate>
        {{form.hidden_tag()}}
        <p>
          {{form.username.label}}<br>
          {{form.username(size=32)}}
        </p>
        <p>
          {{form.password.label}}<br>
          {{form.password(size=32)}}
        </p>
        <p>{{form.submit()}}</p>
      </form>
    {% endblock %}
  </body>
</html>
