{% extends "base.html" %}
{% from "formhelper.html" import render_field %}
{% block content %}
    {% if (current_user.role=='admin') %}

        <form action="" method="post" novalidate>
                {{form.hidden_tag()}}
            <p>
                {{render_field(form.comp_name)}}
            </p>

            <p>
                {{render_field(form.job_name)}}
            </p>
            
            <p>
              {{render_field(form.applyBy_date)}}

            </p>
            <p>
                {{render_field(form.description)}}
            </p>

            <p>
                {{render_field(form.apply_link)}}
            </p>
            <p>{{form.submit()}}</p>
        </form>

    {% endif %}
{% endblock %}
