{% extends "base.html" %}
{% from "formhelper.html" import render_field %}
    {% block content %}
      <form action="" method="post" novalidate>
        {{form.hidden_tag()}}
        <p>
          {{render_field(form.username)}}
        </p>
        <p>
          {{render_field(form.firstname)}}
        </p>
        <p>
          {{render_field(form.lastname)}}
        </p>
        <p>
          {{render_field(form.email)}}
        </p>
        <p>
          {{render_field(form.password)}}
        </p>

        <p>{{form.submit()}}</p>
      </form>

    {% endblock %}
