{% extends "base.html" %}
{% from "formhelper.html" import render_field %}

{% block content
  
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <p>{{message}}</p>
    {% endfor %}
  {% endif %}
{% endwith %}
    {% if (current_user.role=='admin') %}

        <form action="" method="post" novalidate>
                {{form.hidden_tag()}}
            <p>
                {{render_field(form.event_name)}}

            </p>

            <p>
    	        {{render_field(form.event_date)}}
            </p>

            <p>
                {{render_field(form.description)}}
            </p>
            <p>{{form.submit}}</p>
        </form>

        {% endif %}
{% endblock %}
