{% extends "base.html" %}
{% from "formhelper.html" import render_field %}
    {% block content %}
        <body>


        <div style="text-align: center">
        <h2>Computer Science Club registration form</h2>
      <form action="" method="post" novalidate class="container">
        {{form.hidden_tag()}}
        <p>
          {{render_field(form.username)}}
        </p>
        <p>
          {{render_field(form.firstname)}}
        </p>
        <p>
          {{render_field(form.lastname)}}
        </p>
        <p>
          {{render_field(form.email)}}
        </p>
        <p>
          {{render_field(form.password)}}
        </p>

        <p>{{form.submit()}}</p>
      </form>

        </div>



    {% endblock %}
