{% extends "base.html" %}

{% block content %}

    <body>
      <h2 style="text-align: center">Topics</h2>
  <div class="container" style="background-color:#e6ffe6;width:550px;padding-top:10px;padding-bottom:8px;">
  {% for topic in topics %}

      <div class="container" style="border-radius: 25px;border:1px solid black;margin-bottom:5px; background-color: white;">

      <a href="forums/{{topic.id}}/{{topic.topic_name}}" style="word-wrap: break-word;">{{topic.topic_name}}</a>
      <p>{{topic.date}}</p>
      <p style="word-wrap: break-word;">{{topic.topic_description}}</p>


    {% if current_user.role=='admin' %}
    <form action="" method="post" novalidate>
      <button style="border-radius: 25px;border: #e6ffe6; background-color: lightgrey" name="del_topic" value={{topic.id}}>Delete</button>
      <input type="hidden" name="action" value="del_topic">
    </form>

    {% endif %}
    </div>
  {% endfor %}
  </div>
    </body>>
{% endblock %}
