{% extends "base.html" %}

{% block content %}
      <h1 style="text-align:center;background: linear-gradient(to right, #e6ffe6, #004D1A) no-repeat 0 0;">Topics</h1>
  {% for topic in topics %}

      <div class="container" style="width:30%;border:1px solid black;margin-bottom:5px;>

      <a href="forums/{{topic.id}}/{{topic.topic_name}}" style="word-wrap: break-word;">{{topic.topic_name}}</a>
      <p>{{topic.date}}</p>
      <p style="word-wrap: break-word;">{{topic.topic_description}}</p>


    {% if current_user.role=='admin' %}
    <form action="" method="post" novalidate>
      <button type="submit" name="del_topic" value={{topic.id}}>Delete</button>
      <input type="hidden" name="action" value="del_topic">
    </form>
    
    {% endif %}
    </div>
  {% endfor %}


{% endblock %}

