{% extends "base.html" %}




  {% block content %}
      <body style=" background:url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.univstats.com%2Fimages%2Fcolleges%2F130493-southern-connecticut-state-university.jpg&f=1&nofb=1,);
        ">
    <div>
        <div style="position: absolute;
        top: 0%;
        height: 100%;

        left: 0;
        width: 50%;
        z-index: 2;
            ">
      <form action="" method="post" novalidate  style=" text-align: center; align-items: center;justify-content: center;flex-direction: column;padding: 0 50px;height: 100%;text-align: center;" >
      <h>
          {{form.hidden_tag()}}

          <h1>Login</h1>
          <p>
              {{form.email.label}}<br>
              {{form.email(size=32)}}
          </p>
          <p>
              {{form.password.label}}<br>
              {{form.password(size=32)}}
          </p>

          <p >{{form.submit()}}</p>
          <a href="#">Forgot  password?</a>

      </form>
      </div>
          <div style="position: absolute;
            top: 0;
            left: 50%;
            width: 50%;
            height: 100%;">
              <div style="position: absolute;
                top: 0;
                left: 50%;
                width: 50%;
                height: 100%;">
                            <div style="background: #FF416C;
                background: -webkit-linear-gradient(to right,  #FF416C);
                background: linear-gradient(to right, #FF4B2B, #FF416C);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 0 0;
                color: #FFFFFF;
                position: relative;
                left: -100%;
                height: 100%;
                width: 200%;">
				    <div style="position: absolute;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        padding: 0 40px;
                        text-align: center;
                        top: 0;
                        height: 100%;
                        width: 50%;
                        right: 0;
                                    ">
					<h1>Project in Progress</h1>
					<p>This Fantastic Four Log in Form </p>
				</div>
			</div>
		</div>
          </div>

    {% endblock %}

</body>



