{% extends "base.html" %}
{% from "formhelper.html" import render_field %}



  {% block content %}
        <body>


        <div style="text-align: center">

      <form action="" method="post" novalidate class="container">

          {{form.hidden_tag()}}

          <h2>Login</h2>
          <div>
            
              {{render_field(form.email)}}
          </div>
          <div>

              {{render_field(form.password)}}
          </div>

          <div>{{form.submit()}}</div>
          <a href="reset_password">Forgot  password?</a>
      </form>

        </div>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p>{{message}}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}

    {% endblock %}

</body>
