{% extends "base.html" %}
{% from "formhelper.html" import render_field %}
{% block content %}

<h1>Upload</h1>

<form action="/media" method="POST" enctype="multipart/form-data">
  <!-- <div class="custom-file">
  <input type="file" class="custom-file-input" name="media" id="customFile">
  <label class="custom-file-label" for="customFile">Choose file</label>
</div>
<button class="btn btn-primary">Upload</button> -->
  {{form.hidden_tag()}}
  <div class="custom-file">

    {{render_field(form.file)}}


  </div>

  {{form.submit}}
</form>



  {% for image in images %}

    <div class="container" style="text-align:center;">
      <img src="{{url_for('static', filename=image.title)}}" style="width:auto;height:auto;max-width:600px;max-height:500px;">
      <div>Uploaded by: <a href="/profile/{{image.owner}}">{{image.owner}}</a> on {{image.date}}</div>
      {% if (current_user.role=='admin' or current_user.username==image.owner) %}
      <form action="" method="post" novalidate>
        <button style="border-radius: 25px;border: #e6ffe6; background-color: lightgrey" name="del_image" value={{image.id}}>Delete</button>
        <input type="hidden" name="action" value="del_image">
      </form>

      {% endif %}
    </div>
    <br>



  {% endfor %}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <script>
      var messages = {{ messages | safe }};
      for (var i=0; i<messages.length; i++)
      {
        alert(messages[i]);
      }
    </script>

    {% endif %}
  {% endwith %}
{% endblock %}
