{% extends "base.html" %}
{% from "formhelper.html" import render_field %}

{% block content %}

  {% for post in posts %}
  <div class="container" style="background-color:white;width:550px;padding-top:10px;padding-bottom:8px; border-bottom-style: solid; border-bottom-color: #e6ffe6">

      <div> <p>{{post.username}}  {{post.date}} </p></div>
  <div style="word-wrap:break-word;">{{post.post_content}}</div>
  </div>

  {% endfor %}

  <form action="" method="post" novalidate class="container" style="text-align: center">
    {{form.hidden_tag()}}
    <p>
      {{render_field(form.content)}}

    </p>
    <p>{{form.submit()}}</p>
  </form>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
{% endblock %}
