{% extends "base.html" %}

{% block content %}
<body>

  <h1 id="e" style="font-size: 20px;" > {{posts.username}}</h1>
    <script>
     myDate = new Date();
     hrs = myDate.getHours();

    x= "";

    if (hrs < 12)
        x = 'Good Morning';
    else if (hrs >= 12 && hrs <= 17)
        x = 'Good Afternoon';
    else if (hrs >= 17 && hrs <= 24)
        x = 'Good Evening';

    document.getElementById('e').innerHTML =
        '<b>' + x + '<h2 id="e" style="font-size: 20px"> {{posts.username}}</h2> '+ ' Profile options' ;

</script>

  {% if (current_user.role=='admin') %}
    {% if user.role != 'banned' %}
    <form action="" method="post" novalidate>
      <button type="submit" name="ban_button" value={{user.id}}>Ban</button>
      <input type="hidden" name="action" value="banuser">
    </form>
    {% else %}
    <form action="" method="post" novalidate>
      <button type="submit" name="unban_button" value={{user.id}}>Unban</button>
      <input type="hidden" name="action" value="unbanuser">
    </form>
    {% endif %}

    <form action="" method="post" novalidate>
      <button type="submit" name="delete_button" value={{user.id}}>Delete Account</button>
      <input type="hidden" name="action" value="deleteuser">
    </form>


  {% endif %}

  {% if current_user.id == user.id %}
    <form action="" method="post" novalidate>
      <button type="submit" name="change-email-button" value={{current_user.id}}>Change Email</button>
      <input type="hidden" name="action" value="change-email">
    </form>

     <form action="" method="post" novalidate>
      <button type="submit" name="change-password-button" value={{current_user.id}}>Change Password</button>
      <input type="hidden" name="action" value="change-password">
    </form>



  {% endif %}

{% if posts.rowcount > 0 %}
<div class="container" style="position:relative;">
<div class="container" style="background-color:#e6ffe6;padding-top:10px;padding-bottom:1px;padding-right:10px;">
    <h3 style="text-align: center"> Posts </h3>
  <div class="container" style="background-color:white;width:500px;text-align:center;">

    {% for post in posts %}
      <a href="/forums/{{post.id}}/{{post.topic_name}}" style="font-size:18px;">{{post.topic_name}}</a>
      <p style="word-wrap:break-word;font-size:14px;">{{post.post_content}}</p>
      <p style="font-size:14px;">{{post.date}}</p>
      <hr>
    {% endfor %}
  </div>
</div>
{% endif %}
</div>
</body>

{% endblock %}
