{% block content %}
    <form action="" method="post">
        {{form.hidden_tag()}}
        <h1>Reset Password</h1>
        <h2>Enter in a new password.</h2>

        <p>
            {{form.password.label}}<br>
            {{form.password(size=64)}}
        </p>
        <p>
            {{form.confirmPw.label}}<br>
            {{form.confirmPw(size=64)}}
        </p>
        <p>{{form.submit()}}</p>
    </form>

     {% for msg in get_flashed_messages() %}
      <h1>{{ msg }}</h1>
      {% endfor %}

{% endblock %}