{% extends "base.html" %}

{% block content %}

    <body>

    <h2 style="text-align:center">Job Opportunities</h2>
    <table class="container" style="border:1px solid black;text-align:left; background-color: white;">
		<tr>
            <th>Company Name</th>
			<th>Job Name</th>
			<th>Date Posted</th>
            <th>Apply By </th>
			<th>Description</th>
            <th>Link to Job </th>
		</tr>
		{% for career in job %}

		<tr>
            <td>{{ career.comp_name }}</td>
			<td>{{career.job_name}}</td>
			<td>{{career.job_date}}</td>
      <td>{{career.applyBy_date}}</td>
			<td>{{career.description}}</td>
            <td><a href="{{ career.apply_link }}"> {{ career.apply_link }}</a></td>
		</tr>
		{% endfor %}

	</table>


    </body>
{% endblock %}
