{% extends "base.html" %}

{% block content %}
    <h1 style="text-align:center;background: linear-gradient(to right, #e6ffe6, #004D1A) no-repeat 0 0;">Job Opportunites</h1>
	<table>
		<tr>
			<th>Job Name</th>
			<th>Job Date</th>
            <th>Apply By </th>
			<th>Description</th>
		</tr>
		{% for career in job %}
		<tr>
			<td>{{career.job_name}}</td>
			<td>{{career.job_date}}</td>
            <td>{{career.applyBy_date}}</td>
			<td>{{career.description}}</td>
		</tr>
		{% endfor %}

	</table>
{% endblock %}
