{% extends "base.html" %}

{% block content %}

    <body>

    <h2 style="text-align:center">Job Opportunities</h2>
    <table class="container" style="border:1px solid black;text-align:left; background-color: white;">
		<tr>
            <th>Company Name</th>
			<th>Job Name</th>
			<th>Date Posted</th>
            <th>Apply By </th>
			<th>Description</th>
            <th>Link to Job </th>
		</tr>
		{% for career in job %}

		<tr>
            <td>{{ career.company }}</td>
			<td>{{career.job_name}}</td>
			<td>{{career.job_date}}</td>
      <td>{{career.applyBy_date}}</td>
			<td>{{career.description}}</td>
            <td><a href="{{ career.apply_link }}"> {{ career.apply_link }}</a></td>
      <td>
        {% if current_user.role=='admin' %}
        <form action="" method="post" novalidate>
          <button style="border-radius: 25px;border: #e6ffe6; background-color: lightgrey" name="del_job" value={{career.id}}>Delete</button>
          <input type="hidden" name="action" value="del_job">
        </form>

        {% endif %}
        </td>
		</tr>
		{% endfor %}

	</table>


    </body>
{% endblock %}
